[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pytube = "*"
requests = "*"
youtube-transcript-api = "*"
yt-dlp = "*"
langchain-openai = "*"
langchain = "*"
langchain-community = "*"
celery = "*"
redis = "*"
python-dotenv = "*"
csvkit = "*"
psycopg2 = "*"
psycopg = "*"
django-redis = "*"
exceptiongroup = "*"
langgraph = "*"

[dev-packages]

[requires]
python_version = "3.10"
